[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "babynamesIL"]
	path = babynamesIL
	url = https://github.com/aviezerl/babynamesil
[submodule "labNorm"]
	path = labNorm
	url = https://github.com/cran/labNorm
